//- The '|' are important so pug knows the line does not need an HTML tag.
| Hallo #{name},
|
| hier sind deine Zugangsdaten zum Tutor-Management-System:
|
| Nutzername: #{username}
| Passwort: #{password}
|
| Mit freundlichen Grüßen
| TMS Admin
