h3(style='text-align: center') Anwesenheitsliste

div(style='display: flex; width: 100%;')
  span Tutorium #{tutorialSlot}
  span(style='margin-left: auto; float: right;') Datum: #{date.toFormat('dd.MM.yyyy')}

div(style='margin-bottom: 16px;')
  span Tutor: #{tutorName}

table
  thead
    tr
      th Name
      th Unterschrift

  tbody
    each student in students
      tr
        td #{student.name}
        td
