h3(style='text-align: center') Zugangsdaten

table
  style(scoped).
    td {
      padding: 0.5em 1em;
      font-family: 'Courier New', Courier, monospace;
      line-height: 200%;
    }
    
  thead
    tr
      th Name
      th Nutzername
      th Password

  tbody
    each user in users
      tr
        td #{user.name}
        td #{user.username}
        if !!user.password
          td #{user.password}
        else
          td Kein tmp. Passwort
