.wrapper {
  fill: var(--ifm-font-color-base);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: var(--ifm-alert-border-width) solid #7e7e7e;
  vertical-align: middle;
  padding: 4px;
}
